th{
    border: 1px solid black;
    font-weight: 900;
}

td{
    border-bottom: 1px solid gray;
}
#jelentesek, #jelentesek2, #mukodes1, #mukodes2 {
    cursor: pointer;
    text-decoration: underline;
}